{% load static %}

{% block styles %}

<style>
    .navbar {
        margin-bottom: 20px;
        border: none;
        color: #fffffe;
    }  

    .navbar-brand img {
    height: 50px;
    float: left;
    margin-right: 7px;
    }

</style>

{% endblock %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
      <a class="navbar-brand" href=""/""><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_courses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">About</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

<!-- Search bar
    <form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search..." />
</form> 
-->

<hr>