{% load static %}

{% block styles %}

<style>

    .navbar-brand img {
    height: 45px;
    float: left;
    margin-right: 7px;
    }

</style>

{% endblock %}

<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="{% static 'images/logo.jpg' %}" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_courses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}"><b>Admin</b></a>
          </li>
        </ul>          
        <form class="d-flex" style="padding-top: 0.8rem">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<!-- Search bar
    <form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search..." />
</form> 
-->