{% extends 'main.html' %}

{% block styles %}
{#<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">#}
{% endblock %}

{% block app_content %}

<style>
  .all-course-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<form method="GET" action="{% url 'all_courses' %}">
  <input type="text" name="q" placeholder="Search courses..." />
</form>

<div class="all-course-container">

  <div>
    <h3>Sort Topics</h3>
    <hr>

    <div>
      <a href="{% url 'all_courses' %}">All</a>
    </div>

    {% for topic in topics %}
    <div>
      <a href="{% url 'all_courses' %}?q={{topic.name}}">{{topic.name}}</a>
    </div>
    {% endfor %}
  </div>

  <div>
    <h5>{{course_count}} courses found.</h5>

    <div>
      {% for course in courses %}
      <div>
        <h5>{{course.id}} -- <a href="{% url 'course' course.id %}">{{course.title}}</a></h5>
        <div>

          {% endfor %}
        </div>
      </div>


    </div>

    {% endblock %}