{% extends 'main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/all_courses.css' %}" />
{% endblock %}

{% block app_content %}

<!-- Wrap the rest of the page in containers to center all the content. -->
<div class="container course-finder">
  <div class="row">
    <div class="course-title">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 text-center">
            <h1>Our Courses</h1>
            <p>Search for your course or select a topic.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Browse Topics</h3>
      <hr>

      <div>
        <form class="d-flex">
          <input class="form-control me-1" name="q" type="search" placeholder="Search for topics" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div class="list-group">
          <a href="{% url 'all_courses' %}" class="list-group-item list-group-item-action" aria-current="true">
            All <span class="badge bg-primary rounded-pill">{{courses.count}}</span>
          </a>
          {% for topic in topics %}
          <a href="{% url 'all_courses' %}?q={{topic.name}}" class="list-group-item list-group-item-action">
            {{topic.name}}</a>


          {% endfor %}

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <p>{{course_count}} courses found.</p>
      <div class="card-group">
        {% for course in courses %}
        <div class="card"><img class="card-img-top w-100 d-block" src="{{course.course_img.url}}" class="card-img-top"
            alt="course image" />
          <div class="card-body">
            <h4 class="card-title">{{course.title}}</h4>
            <p class="card-text">{{course.topic}}</p>
            <a href="{% url 'course' course.id %}" class="btn btn-primary">View Course</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}