{% extends 'main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/applyform.css' %}" />
{% endblock %}

{% block app_content %}

<div class="container course-page">
  <div class="row">
    <div class="back-btn" style="padding-left: 2rem;">
      <p>
        <button type="button" class="btn btn-primary" value="Previous Page" onClick="javascript:history.go(-1);">Back
        </button>
      </p>
    </div>
    <div class="container" style="padding: 20px;margin: 1px;">
      <div class="row">
        <div class="col-sm-4 col-md-5 col-lg-5">
          {% for module in modules %}
          <h5>{{module.code}} -- <a href="{% url 'module' module.id %}">{{module.title}}</a></h5><br>
          <hr>
          {% endfor %}
        </div>
        <div class="col-sm-8 col-md-7 col-lg-7">
          <h1>{{course.title}}</h1>
          <p>{{course.description}}</p>
          <img src="{{course.course_img.url}}" alt="course image" class="img-fluid" style="max-height: 400px">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <!-- Interactable form elements to fill in-->
        <form id="apply" action="" method="post">
          <h3>Course Apply Form</h3>
  
          <fieldset>
            <input placeholder="Name" type="text" tabindex="1" required autofocus />
          </fieldset>
          <fieldset>
            <input placeholder="Email Address" type="email" tabindex="2" required />
          </fieldset>
          <fieldset>
            <input placeholder="Phone Number" type="tel" tabindex="3" required>
          </fieldset>
          <fieldset>
            <textarea placeholder="Type your message here..." tabindex="5" required></textarea>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">Apply Now</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}