{% extends 'main.html' %}
{% load static %}

{% block styles %}
{#<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">#}
{% endblock %}

{% block app_content %}

<div class="container course-page">
    <div class="row">
        <div class="course-title">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <h1>{{course.name}}</h1>
                        <p>{{course.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            {% for module in modules %}
            <h5>{{module.code}} -- <a href="{% url 'module' module.id %}">{{module.title}}</a></h5><br>
            <hr>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}