{% extends 'main.html' %}

{% block styles %}
    {#<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">#}
{% endblock %}

{% block app_content %}

<div class="container course-finder">
    <div class="row">
      <div class="course-title">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 text-center">
              <h1>FAQ</h1>
              <p>Welcome to our webpage</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <p>Welcome to our FAQ page, here you will be able to see a list of our 5 most frequently asked questions as well as their answers, should you have any further questions not answered here please list them in the  box below:</p>
          <div class="mb-3 mt-3">
            <label for="comment">Any Further Questions:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      
      </body>
      </html>
      
      
      
      
      
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Q1) Does your webpage really Help people?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Q1 Answer)</strong> Yes please check the About us page to see real people who our site has helped
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Q2) Where can I learn about updates to the page?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Q2 Answer)</strong> You can find bug fixes and tweaks to the site on our Home page
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q3) Do you plan on expanding your social media presence?

              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Q3 Answer)</strong> We do plan on expanding our brand to other Social media sites such as TikTok, Reddit, Youtube and even Instagram, so keep an eye out for those Announcements!
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Q4) Where can I contact the team at Information and Technology College?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Q4 Answer)</strong> is very open with their communications between staff and customers and because we encourage healthy feedback. Please be paitent with our response time as we can be very busy.You can contact us at 
                Information and
                Technology College
                Coton Road
                Nuneaton
                CV11 5TX
                Warwickshire
                
                Open Mon - Fri | 8am - 6pm
                Tel: +44 (0) 2488676577
              </div>
            </div>
          </div>
         <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Q5) Where can I apply for a course? 

            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Q5 Answer)</strong> You can register the available courses by inserting your details when you click on the Courses page, select what course you want to study and an apply form would appear on that webpage.
            </div>
          </div>
         </div>
        </div>
      </div>
     </div>
    </div>
   </div>
  </div>
{% endblock %}