{% extends 'main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/module.css' %}" />
{% endblock %}

{% block app_content %}
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6"><h1> {{module.title}} </h1></div>
	<div class="col-sm-3"></div>
</div>

<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-3"><p> {{module.course}} </p></div>
	<div class="col-sm-3"><p> {{module.code}} </p></div>
	<div class="col-sm-3"></div>
</div>

<div class="row">
	<div class="col-sm-2 col-sm-offset-1"></div>
	<div class="col-sm-2"><img src=" {{module.staff_img.url}} " class="img-thumbnail" alt="staff picture" style="max-width:100px;" /></div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2"></div>
</div>
<div class="row">
	<div class="col-sm-2 col-sm-offset-1"></div>
	<div class="col-sm-2"><p>{{module.staff_name}}</p></div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6"><p> {{module.description}} </p></div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="col-sm-3"><h3> ADVERT</h3> <img src="https://www.advertisingarchives.co.uk/assets/thumbnails/147/2/40707e3a0bf2e508b3e91fe62e4b45f6.jpg" alt="Girl in a jacket" width="100" height="200"> </div>
	<div class="col-sm-3"></div>
	<div class="col-sm-3"></div>
  <div class="col-sm-3"><h3> ADVERT</h3> <img src="https://www.advertisingarchives.co.uk/assets/thumbnails/147/2/40707e3a0bf2e508b3e91fe62e4b45f6.jpg" alt="Girl in a jacket" width="100" height="200"> </div>
</div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form id="apply" action="" method="post">
      <h3>Apply Form</h3>

      <fieldset>
        <input placeholder="Name" type="text" tabindex="1" required autofocus />
      </fieldset>
      <fieldset>
        <input placeholder="Email Address" type="email" tabindex="2" required />
      </fieldset>
      <fieldset>
        <input placeholder="Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your message here..." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">Apply Now</button>
      </fieldset>

    </form>
  </div>
  <div class="col-sm-3"></div>
</div>

{% endblock %}